<!--Extender el contenido que se encuentra en el archivo de layout-->
{% extends "layout.html" %}
{% block title %}kanye west{% endblock title %}
{% block body %}
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <div class="card" style="width: 18rem;">
        <img src="{{ url_for('static', filename='kanyewest.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Kanye says:</h5>
          <p class="card-text">{{quote}}</p>
        </div>
      </div>
    </div> 
  </div>
</div>

{% endblock body %}